:root {
    --card: 
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    background-color: black;
    color: aliceblue;
    height: 6rem;
}

h1 {
    margin:  0 2rem;
}

nav ul {
    display: flex;
    justify-content: right;
    padding: .2rem;
    list-style: none;
    margin:  0 2rem;
    padding-bottom: 2rem;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    padding: .5rem;
    font-size: 1.5rem;
}

nav a:hover {
    color:darkslategray;
}

main {
    display: flex;
    justify-content: space-evenly;

}

article {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section1 {
    display: flex;
    border: .2rem darkslategray;
    position: relative;
    width: 30rem;
    border-radius: 1rem;
    height: 30rem;
    padding: 3rem;
    margin: 1rem 4rem;
    background-image: url(https://images.squarespace-cdn.com/content/v1/580a75e103596ef7c3a8ed74/1616215216693-ZIXP863TESBR3J1LBCR3/blm.jpg?format=2500w);
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
}
section2 {
    display: flex;
    border: .2rem darkslategray;
    position: relative;
    width: 30rem;
    border-radius: 1rem;
    height: 30rem;
    padding: 3rem;
    margin: 1rem 4rem;
    background-image: url(https://images.squarespace-cdn.com/content/v1/580a75e103596ef7c3a8ed74/1616216144390-I19BRWO4881CY24JRK2E/lost+in+the+woods+copy.jpg?format=2500w);
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
}
section3 {
    display: flex;
    border: .2rem darkslategray;
    position: relative;
    width: 30rem;
    border-radius: 1rem;
    height: 30rem;
    padding: 3rem;
    margin: 1rem 4rem;
    background-image: url("https://images.squarespace-cdn.com/content/v1/580a75e103596ef7c3a8ed74/1616215274645-IC2A7GGKQNY09EJP95JB/Blood+on+the+Roots%2C+Blood+on+the+Branches.jpg?format=500w");
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
}

/* .overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: #008CBA;
} */

h2 {
    display: flex;
    border: .1rem solid darkslategray;
    border-radius: 1rem;
    height: 2rem;
    width: 500rem;
    align-items: center;
    padding: 5%;
    margin-top: 25rem;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
h3 {
    display: flex;
    border: .1rem solid darkslategray;
    border-radius: 1rem;
    height: 2rem;
    width: 500rem;
    align-items: center;
    padding: 5%;
    margin-top: 25rem;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
h4 {
    display: flex;
    border: .1rem solid darkslategray;
    border-radius: 1rem;
    height: 2rem;
    width: 500rem;
    align-items: center;
    padding: 5%;
    margin-top: 25rem;
    justify-content: center;
    background-color: rgb(255, 255, 255);

}

.article1 :hover {
    background-color: rgb(0, 0, 0);
}

/* 
aside {
    background-color: black;
    height: 100rem;
    width: 25rem;
    color: darkslategray;
    display: block;
} */



